# Define standard eol format

# Web and config files
*.html text eol=lf
*.liquid text eol=lf
*.md text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.txt text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf

# Binary files
*.jpg binary
*.jpeg binary
*.gif binary
*.png binary
*.webp binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.mp4 binary
*.mp3 binary
